<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML Basics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>1. element</li>
                <li>2. element</li>
                <li>3. element</li>
                <li>4. element</li>
            </ul>
        </nav>
    </header>
    <body>

    <main>
            <section id="hero">
            <h1>Heading1</h1>
            <p>Paragraph1</p>
            <ul>
                <li> <a href=""> <img href="" alt="image1"> </a> </li>
                <li> <a href=""> <img href="" alt="image2"> </a>  </li>
                <li> <a href=""> <img href="" alt="image3"> </a> </li>
            </ul>
                
            <section id='about'>
            <h2>Heading2</h2>
            <figure> <img href="" alt="figure image"> </figure>
            <p>Paragraph2<p>
        -
            <section id='work'>
            <h4>Heading4</h4>
            <ul>
                <li> <img href="" alt="image1"> </li>
                <li> <img href="" alt="image2"> </li>
                <li> <img href="" alt="image3"> </li>
            </ul>
        
            <section: id='contact'>
            <p>Paragraph5</p>
            <h5>Heading5</h5>
            <form class='input-group' method='get'>
                <input type='text' id='name' value='' placeholder='Name'>
                <input type='email' id='email' value='' placeholder='Email'>
                <input type='text' id='text' value='' placeholder='Text'>
            </form>
            <button>button</button>
        </section>
    </main>
    <footer>
        <p>paragraph</p>
    </footer>
</body>
</html>